RABBITMQ_PASSWORD=AxcPVnx4BzaiujKI4ZgGW0o2omuAH9cz12Wb1mz4HVj1IO7WcspGQJxBGwXcK9
MINIO_SECRET_KEY=geo0804uzE0xNGIebSK5DrKYmKzkYQnNdq9QugkpvgfIKoiMDxvzo9RkZo
OAUTH_GOOGLE_CLIENT_ID=244937601899-7hj1keaq91uqf9brbel2fr1k56u7j7mj.apps.googleusercontent.com
OAUTH_GITHUB_CLIENT_ID=Ov23li0eiESvSNolqBSK
LLM_PROVIDER=ollama
OPENAI_API_KEY=
